services:
  db:
    image: postgres:latest
    container_name: manual_labor_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: manual_labor
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
      - ./db/init:/docker-entrypoint-initdb.d
  frontend:
    build:
      context: ./frontend
      dockerfile: dockerfile.dev
    container_name: manual_labor_frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    restart: unless-stopped


volumes:
  postgres_data: