.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
  max-width: 1200px;
}

.navbar a {
  color: black;
  text-decoration: none;
  font-weight: 500;
}

.nav-logo {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -0.075em;
  transition: transform 0.2s ease-in-out;
}

.nav-logo:hover {
  transform: scale(1.05);
}

.nav-links {
  display: flex;
  gap: 1rem;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 4px;
  transition: color 0.2s ease-in-out;
}

.nav-link:hover {
  text-decoration: underline;
}