#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.navbar a {
  color: black;
  text-decoration: none;
  font-weight: 500;
}

.nav-logo {
  font-size: 2rem;
  font-weight: 700;
  transition: transform 0.2s ease-in-out, filter 0.2s ease-in-out;
}

.nav-logo:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 5px rgba(0, 0, 255, 0.2));
}

.nav-links {
  display: flex;
  gap: 1rem;
}