:root {
  font-family: "Noto Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: black;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  margin: 0 auto;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #ffe6a0;
  padding: 1rem;
  margin-bottom: 2rem;
}

main {
  max-width: 1200px;
  margin: auto;
  padding: 0 1rem;
}

.fugaz-one-regular {
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

select {
  border: 1px solid #cccccc;
  background: white;
  padding: 10px;
  border-radius: 4px;
  transition: 0.2s;
  font-family: inherit;
  font-size: 0.8rem;
  cursor: pointer;
}

select:hover,
select:focus {
  border-color: #999999;
  outline: none;
}

select {
  appearance: none;
}

select:disabled {
  background: #f0f0f0;
  border-color: #e0e0e0;
  color: #999999;
  cursor: not-allowed;
}